.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: flex-start;
  height: 300px;
  border: 1px dashed black;
  background-color: #8b0ed3;
}
.container li {
  /*flex-grow: 1;*/
  margin-top: 5px;
  margin-bottom: 2px;
  margin-right: 8px;
  background-color: #e0cc10;
  list-style-type: none;
  font-size: 50px;
}
